NODE_ENV="development"
PORT=3000

#banco
DB_USER=usuario do banco
DB_PASSWORD=senha do banco
DB_HOST=localhost
DB_PORT=ex: 5433
DB_NAME=nome do database

#Funcionamento da API
SECRET_KEY=secret key 
BASE_URL=ex: localhost:3000
KAY_RAWG=colocar chave da rawg


DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public